@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.facPage{
   margin-bottom: 0;
   width: 100%;
   overflow-x: hidden;
} 

.facText{
   margin-left: 8px; 
   font-size: calc(18px + 2vw);
   font-weight: 600;
   color: black;
   text-align: center;
   font-family: 'MonteCarlo', cursive;   
   width: 100vw;
   margin-top: -1%;

}
.facilities{
   overflow-y: hidden;
   padding-bottom: 0;
}
.line1{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   width: 100vw;
   align-items: center;
}

.videoBox{
   margin: 5px;
}

.video{
   width: 460px;
   pointer-events: none;
   border-radius: 5px;
   margin: auto;
}

.caption{
   color: rgba(0, 0, 0, 0.5);
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-style: italic;
   font-size: calc(16px);
   margin-top: -2px;
}

.backDiv{
   margin-top: 0.5%;
   margin-bottom: 3%;
   text-align: center;

}
.back{
    width: 100px;
}

.back:hover{
    font-weight: 600;
   transform: scale(1.1);
   transition: 1s ease-in-out;
}
